Options -Indexes
RewriteEngine on

RewriteRule ^app-login/?$ classes/AppLogin.class.php
RewriteRule ^renew-app-session/?$ classes/AppLogin.class.php
RewriteRule ^user-sidebar-items/?$ classes/AppLogin.class.php
RewriteRule ^app-logout/?$ classes/Logout.class.php

#REGISTRATION ENDPOINTS
RewriteRule ^app-registration/?$ classes/Registration.class.php
RewriteRule ^get-registration-types/?$ classes/Registration.class.php

#USER ACCOUNT GROUPS ENDPOINTS
RewriteRule ^create-user-account-group/?$ modules/user_management/UserHandler.class.php
RewriteRule ^view-all-account-groups/?$ modules/user_management/UserHandler.class.php
RewriteRule ^view-user-account-group-modules/([0-9]+)/?$ modules/user_management/UserHandler.class.php?id=$1
RewriteRule ^assign-modules-to-account-group/?$ modules/user_management/UserHandler.class.php

#STAFF MANAGEMENT
RewriteRule ^add-staff-role/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^assign-module-rights-to-role/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^create-new-staff/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^view-staffs/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^view-staff-details/([0-9]+)/?$ modules/staff_management/StaffManagementHandler.class.php?user_id=$1
RewriteRule ^view-staff-roles/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^view-role-details/([0-9]+)/?$ modules/staff_management/StaffManagementHandler.class.php?role_id=$1
RewriteRule ^edit-staff-details/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^assign-watcher-to-center/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^unassign-watcher-from-center/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^search-precincts/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^search-polling-centers/?$ modules/staff_management/StaffManagementHandler.class.php

#DASHBOARD ENDPOINTS
RewriteRule ^get-candidate-vote-reports/?$ modules/dashboard/DashboardHandler.class.php
RewriteRule ^get-county-vote-reports/?$ modules/dashboard/DashboardHandler.class.php

# #GENERIC USER ENDPOINTS
# RewriteRule ^epad-get-user-personal-details/?$ modules/generic_users_module/GenericUserHandler.class.php
# RewriteRule ^epad-get-user-security-details/?$ modules/generic_users_module/GenericUserHandler.class.php

#GENERIC USER ENDPOINTS
RewriteRule ^get-user-profile-details/?$ modules/generic_users_module/GenericUserHandler.class.php
RewriteRule ^update-user-basic-info/?$ modules/generic_users_module/GenericUserHandler.class.php
RewriteRule ^get-user-security-details/?$ modules/generic_users_module/GenericUserHandler.class.php
RewriteRule ^update-user-security-info/?$ modules/generic_users_module/GenericUserHandler.class.php