Options -Indexes
RewriteEngine on

RewriteRule ^app-login/?$ classes/AppLogin.class.php
RewriteRule ^renew-app-session/?$ classes/AppLogin.class.php
RewriteRule ^user-sidebar-items/?$ classes/AppLogin.class.php
RewriteRule ^app-logout/?$ classes/Logout.class.php

#REGISTRATION ENDPOINTS
RewriteRule ^app-registration/?$ classes/Registration.class.php
RewriteRule ^get-registration-types/?$ classes/Registration.class.php

#USER ACCOUNT GROUPS ENDPOINTS
RewriteRule ^create-user-account-group/?$ modules/user_management/UserHandler.class.php
RewriteRule ^view-all-account-groups/?$ modules/user_management/UserHandler.class.php
RewriteRule ^view-user-account-group-modules/([0-9]+)/?$ modules/user_management/UserHandler.class.php?id=$1
RewriteRule ^assign-modules-to-account-group/?$ modules/user_management/UserHandler.class.php

#STAFF MANAGEMENT
RewriteRule ^add-staff-role/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^assign-module-rights-to-role/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^create-new-staff/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^view-staffs/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^view-staff-details/([0-9]+)/?$ modules/staff_management/StaffManagementHandler.class.php?user_id=$1
RewriteRule ^view-staff-roles/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^view-role-details/([0-9]+)/?$ modules/staff_management/StaffManagementHandler.class.php?role_id=$1
RewriteRule ^edit-staff-details/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^assign-watcher-to-center/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^unassign-watcher-from-center/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^search-precincts/?$ modules/staff_management/StaffManagementHandler.class.php
RewriteRule ^search-polling-centers/?$ modules/staff_management/StaffManagementHandler.class.php

#DASHBOARD ENDPOINTS
RewriteRule ^get-overview-reports/?$ modules/dashboard/DashboardHandler.class.php
RewriteRule ^appointment-operation-stats/?$ modules/dashboard/DashboardHandler.class.php

#DEPARTMENT ENDPOINTS
RewriteRule ^get-departments/?$ modules/departments/DepartmentsHandler.class.php [QSA]
RewriteRule ^create-new-department/?$ modules/departments/DepartmentsHandler.class.php
RewriteRule ^update-department/?$ modules/departments/DepartmentsHandler.class.php
RewriteRule ^get-department-details/([0-9]+)/?$ modules/departments/DepartmentsHandler.class.php?department_id=$1
RewriteRule ^delete-department/?$ modules/departments/DepartmentsHandler.class.php

#DEPARTMENT APPOINTMENT
RewriteRule ^assign-staff-to-department/?$ modules/departments/DepartmentsHandler.class.php
RewriteRule ^unassign-staff-from-department/?$ modules/departments/DepartmentsHandler.class.php
RewriteRule ^get-department-executives/([0-9]+)/?$ modules/departments/DepartmentsHandler.class.php?department-id=$1
RewriteRule ^get-department-staff/([0-9]+)/?$ modules/departments/DepartmentsHandler.class.php?department-id=$1

#VISIT CHECKS ENDPOINTMENT
RewriteRule ^lookup-appointment-info/?$ modules/visitchecks/VisitChecksHandler.class.php
RewriteRule ^apply-visit-operation/?$ modules/visitchecks/VisitChecksHandler.class.php
RewriteRule ^add-appointment-items/?$ modules/visitchecks/VisitChecksHandler.class.php

#EXECUTIVE ENDPOINTS
RewriteRule ^get-executive-members/?$ modules/executivelist/ExecutiveListHandler.class.php [QSA]
RewriteRule ^add-new-executive-member/?$ modules/executivelist/ExecutiveListHandler.class.php
RewriteRule ^executive-get-departments/?$ modules/executivelist/ExecutiveListHandler.class.php
RewriteRule ^get-executive-member-details/([0-9]+)/?$ modules/executivelist/ExecutiveListHandler.class.php?executive_id=$1
RewriteRule ^update-executive-member-info/?$ modules/executivelist/ExecutiveListHandler.class.php
RewriteRule ^delete-executive_member/?$ modules/executivelist/ExecutiveListHandler.class.php

#APPOINTMENT
RewriteRule ^add-new-appointment/?$ modules/appointment/AppointmentHandler.class.php
RewriteRule ^update-appointment/?$ modules/appointment/AppointmentHandler.class.php
RewriteRule ^delete-appointment/?$ modules/appointment/AppointmentHandler.class.php
RewriteRule ^get-all-appointments?$ modules/appointment/AppointmentHandler.class.php [QSA]
RewriteRule ^get-appointment-details/([0-9]+)/?$ modules/appointment/AppointmentHandler.class.php?id=$1
RewriteRule ^get-department-appointments/([0-9]+)/?$ modules/appointment/AppointmentHandler.class.php?&department=$1 [QSA]

#APPOINTMENT SECURITY
RewriteRule ^lookup-appointment/?$ modules/appointmentsecurity/AppointmentSecurityHandler.class.php

#DEPARTMENT APPOINTMENTS
RewriteRule ^get-appointments-from-department/?$ modules/departmentappointment/DepartmentAppointmentHandler.class.php [QSA]
RewriteRule ^get-department-appointment-details/([0-9]+)/?$ modules/departmentappointment/DepartmentAppointmentHandler.class.php?id=$1
RewriteRule ^add-new-department-appointment/?$ modules/departmentappointment/DepartmentAppointmentHandler.class.php
RewriteRule ^update-department-appointment/?$ modules/departmentappointment/DepartmentAppointmentHandler.class.php
RewriteRule ^update-department-appointment-status/?$ modules/departmentappointment/DepartmentAppointmentHandler.class.php

#APPOINTMENT SETTINGS
RewriteRule ^get-appointment-settings/?$ modules/onlineappointments/OnlineAppointmentsHandler.class.php
RewriteRule ^update-appointment-settings/?$ modules/onlineappointments/OnlineAppointmentsHandler.class.php
RewriteRule ^get-online-appointments?$ modules/onlineappointments/OnlineAppointmentsHandler.class.php [QSA]
RewriteRule ^apply-online-appointment-action/?$ modules/onlineappointments/OnlineAppointmentsHandler.class.php

#APPOINTMENT PURPOSE
RewriteRule ^get-purpose/?$ modules/appointmentpurpose/AppointmentPurposeHandler.class.php
RewriteRule ^get-appointment-purpose-details/([0-9]+)/?$ modules/appointmentpurpose/AppointmentPurposeHandler.class.php?id=$1
RewriteRule ^add-appointment-purpose/?$ modules/appointmentpurpose/AppointmentPurposeHandler.class.php
RewriteRule ^update-appointment-purpose/?$ modules/appointmentpurpose/AppointmentPurposeHandler.class.php
RewriteRule ^delete-appointment-purpose/?$ modules/appointmentpurpose/AppointmentPurposeHandler.class.php


#OUTSIDE ONLINE APPOINTMENT
RewriteRule ^set-outside-appointment/?$ modules/outsideappointment/OutsideAppointmentHandler.class.php
RewriteRule ^get-all-ministries/?$ modules/outsideappointment/OutsideAppointmentHandler.class.php
RewriteRule ^get-ministry-departments/([0-9]+)/?$ modules/outsideappointment/OutsideAppointmentHandler.class.php?ministry_id=$1
RewriteRule ^get-department-executives/([0-9]+)/([0-9]+)/?$ modules/outsideappointment/OutsideAppointmentHandler.class.php?ministry_id=$1&department_id=$2

#GENERIC USER ENDPOINTS
RewriteRule ^get-user-personal-details/?$ modules/generic_users_module/GenericUserHandler.class.php
RewriteRule ^get-user-security-details/?$ modules/generic_users_module/GenericUserHandler.class.php
RewriteRule ^update-user-basic-info/?$ modules/generic_users_module/GenericUserHandler.class.php
RewriteRule ^update-user-security-info/?$ modules/generic_users_module/GenericUserHandler.class.php